.app {
  /*Colors*/
  --color-pink: #ffd1cb;
  --color-blue: #7e97ff;
  --color-purple: rgba(126, 151, 255, 0.37);

  --input-background-color: #e3e3e1;
  --main-background-color: #f8f6ed;
  --main-text-color: #000000;
  --white-text-color: #ffffff;
  --grey-text-color: #636363;
  --icons-color: #000000;

  --button-background-color: var(--color-blue);
  --button-outline-color: var(--color-pink);
  --button-background-hover-color: #96aaff;
  --button-background-active-color: #4f5fa0;
  --button-background-disabled-color: #bac2e4;

  --links-color: var(--color-blue);
  --links-hover-color: #96aaff;

  --menu-background-color: var(--color-pink);
  --menu-link-active-background-color: var(--color-purple);

  /*Fonts */
  --main-font: "sf-pro-display-regular", serif;
  --main-bold-font: "sf-pro-display-bold", serif;
  --main-semibold-font: "sf-pro-display-semibold", serif;

  --main-font-size: 14px;
  --defaul-line-height: 1.6;

  /*Sizes*/
  --project-card-width: 249px;
  --project-card-height: 340px;
}

.app.dark-theme {
}
