*,
*::before,
*::after {
  box-sizing: border-box;
}

.app {
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  font-family: var(--main-font);
  font-size: var(--main-font-size);
  line-height: var(--defaul-line-height);
}
