.app {
    /*Colors*/
    --color-pink: #FFD1CB;
    --color-blue: #7E97FF;

    --input-background-color: #E3E3E1;
    --main-background-color: #F8F6ED;
    --main-text-color: #000000;
    --white-text-color: #ffffff;
    --icons-color: #000000;

    --main-font: 'sf-pro-display-regular', serif;
    --main-bold-font: 'sf-pro-display-bold', serif;
    --main-semibold-font: 'sf-pro-display-semibold', serif;

    --main-font-size: 14px;
    --defaul-line-height: 1.6;
}

.app.dark-theme {

}