.projects {
  padding-left: 195px;
}

.projects__title {
  font-size: 25px;
  font-family: var(--main-bold-font);
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

.projects__container {
  overflow: hidden;
}

.projects__row {
  margin: 0 -50px;
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
}

.projects__card {
  margin: 0 50px 60px;
}
